.container
  .row
    .col-md-6
      = form_tag group_path do
        %table
          %tr
            %td
              %table
                %tr
                  %td{ style: 'padding: 2px; text-align: right'}
                    Розлади ШКТ:
                  %td{ style: 'padding: 2px'}
                    = select_tag 'rozlad_skt', options_for_select([['Живіт', 'zhyvit'], ['Стул', 'stul'], ['УЗД', 'uzd'], ['ФПК/ДЖВШ', 'fpk'], ['Дисбактеріоз', 'disbakterioz'], ['Всі', 'all']], params[:rozlad_skt] || 'all'), class: 'form-control'
              %br
              = submit_tag 'Порахувати', class: 'btn'
              %br
              %br
            %td{ style: 'vertical-align: top'}
              %table
                -#%tr
                -#  %td
                -#    Вивчити:
                -#  %td
                -#    = select_tag 'vyvchyty', options_for_select([['Розлади живота', 'zhyvit'], ['Розлади стулe', 'stul'], ['Розлади УЗД', 'uzd'], ['Розлади ФПК/ДЖВШ', 'fpk'], ['Дисбактеріоз', 'disbakterioz'], ['Всі розлади ШКТ', 'all']], params[:rozlad_skt] || 'all'), class: 'form-control'
                %tr
                  %td
                    Вікові категорії по:
                  %td
                    = select_tag 'cohort', options_for_select((1..12).map{|i|["#{ i } місяців", i]}, params[:cohort] || 12), class: 'form-control'

  .row
    .col-md-12
      %h4
        %a{ 'data-toggle' => "collapse", 'data-target' => "#main", 'aria-expanded' => "false", 'aria-controls' => "main", style: 'cursor: pointer'}
          Вибірка
      %div.collapse#main
        %table.table.table-striped
          %thead{ style: 'font-size: 9px'}
            %tr
              %th
              %th
              %th{ colspan: 5 }
                Розлади ШКТ
            %tr
              %th
                ПІБ
              %th
                Вік
              %th
                Живіт
              %th
                Стул
              %th
                УЗД
              %th
                ФПК/ДЖВШ
              %th
                Дисбактеріоз
          %tbody
          - @children.each do |child|
            %tr
              %td{ style: 'font-size: 9px'}
                = child.name.split(' ')[0]
              %td{ style: 'font-size: 9px'}
                = child.age
              %td
                - if child.zhyvit
                  &#10004;
              %td
                - if child.stul
                  &#10004;
              %td
                - if child.uzd
                  &#10004;
              %td
                - if child.fpk
                  &#10004;
              %td
                - if child.disbakterioz
                  &#10004;

  - if params[:cohort]
    .col-md-12
      %h4
        %a{ 'data-toggle' => "collapse", 'data-target' => "#calculation", 'aria-expanded' => "false", 'aria-controls' => "calculation", style: 'cursor: pointer'}
          Показати розрахунки
    .container
      .row.collapse#calculation.in
        .col-md-6
          - if @children.count > 0
            %table.au
              %tr
                %td
                  Група
                %td
                  Вікові категорії
                %td
                  Кількість випадків патологій ШКТ
              - i = 0
              - j = 0
              - options = {cohorts: [], cases: [], groups: []}
              - while i < @children.map(&:age).max
                %tr
                  %td
                    - options[:groups] << j + 1
                    = j += 1
                  %td
                    - cohort = "#{ i + 1 } - #{ i + params[:cohort].to_i }"
                    = cohort
                    - options[:cohorts] << cohort
                  %td
                    - count =  @children.select{|child| child.age >= (i + 1) && child.age <= i+params[:cohort].to_i }.count
                    = count
                    - options[:cases] << count
                - i += params[:cohort].to_i
            %br
              Спочатку знайдемо характеристики випадкових величин(група і кількість дітей)
              (вибіркове середнє і вибіркове середнє квадратичне відчилення).
              %br
              %br
              Групи:
              %table.au
                %tr
                  %td
                  - options[:groups].each do |group|
                    %td
                  %td
                    = "∑x"
                    %sub i
                  %td
                    = raw "<span style='text-decoration: overline'>x</span>"
                %tr
                  %td
                    x
                    %sub
                      i
                  - options[:groups].each do |group|
                    %td
                      = group
                  %td
                    - x_sum = options[:groups].sum
                    = x_sum
                  %td
                    - x_mean = (x_sum.to_f / options[:groups].count.to_f).round(2)
                    = x_mean
                %tr
                  %td
                    = raw("(x<sub>i</sub>-<span style='text-decoration: overline'>x</span>)<sup>2</sup>")
                  - x_squares = []
                  - options[:groups].each do |group|
                    %td
                      - x_squares << (group - x_mean)**2
                      = (group - x_mean)**2
                  %td
                    = x_squares.sum
                  %td
                    - disp = (x_squares.sum / x_squares.count).round(2)
                    = disp

              %br
              Вибіркове середнє: <span style='text-decoration: overline'>x</span> =
              = raw "∑x<sub>i</sub> / #{options[:groups].count} = #{ x_sum }/#{ options[:groups].count } = #{ x_mean }"
              %br
              %br
              Вибіркова дисперсія: <span style='text-decoration: overline'>D</span><sub>x</sub> =
              = raw "∑(x<sub>i</sub>-<span style='text-decoration: overline'>x</span>)<sup>2</sup> / n = "
              = "#{ x_squares.sum } / #{ options[:groups].count } = #{ disp }"
              %br
              %br
              Вибіркове квадратне відхилення:
              - sig_x = Math.sqrt(disp).round(2)
              = raw "σ<sub>x</sub> = √<span style='text-decoration: overline'>D</span><sub>x</sub> ≈ #{ sig_x }"
              %br
              %br
              Кількість дітей:
              %table.au
                %tr
                  %td
                  - options[:cases].each do |item|
                    %td
                  %td
                    = "∑y"
                    %sub i
                  %td
                    = raw "<span style='text-decoration: overline'>y</span>"
                %tr
                  %td
                    y
                    %sub
                      i
                  - options[:cases].each do |item|
                    %td
                      = item
                  %td
                    - y_sum = options[:cases].sum
                    = y_sum
                  %td
                    - y_mean = (y_sum.to_f / options[:cases].count.to_f).round(3)
                    = y_mean
                %tr
                  %td
                    = raw("(y<sub>i</sub>-<span style='text-decoration: overline'>y</span>)<sup>2</sup>")
                  - y_squares = []
                  - options[:cases].each do |group|
                    %td
                      - val = ((group - y_mean)**2).round(2)
                      - y_squares << val
                      = val
                  %td
                    = y_squares.sum.round(2)
                  %td
                    = (y_squares.sum / y_squares.count).round(2)

              %br
              Вибіркове середнє: <span style='text-decoration: overline'>y</span> =
              = raw "∑y<sub>i</sub> / #{options[:cases].count} = #{ y_sum }/#{ options[:cases].count } = #{ y_mean }"
              %br
              %br
              Вибіркова дисперсія: <span style='text-decoration: overline'>D</span><sub>y</sub> =
              = raw "∑(y<sub>i</sub>-<span style='text-decoration: overline'>y</span>)<sup>2</sup> / n = "
              - disp_y = y_squares.sum / options[:cases].count
              = "#{ y_squares.sum } / #{ options[:groups].count } = #{ disp }"
              %br
              %br
              Вибіркове квадратне відхилення:
              - sig_y = Math.sqrt(disp_y).round(2)
              = raw "σ<sub>y</sub> = √<span style='text-decoration: overline'>D</span><sub>y</sub> ≈ #{ sig_y }"
              %br
              %br
              Залишилось підрахувати ∑x<sub>i</sub>y<sub>i</sub>. Результати занесемо в таблицю:
              %br
              %br
              %table.au
                %tr
                  %td
                    x<sub>i</sub>
                  - options[:groups].each do |item|
                    %td
                      = item
                  %td
                %tr
                  %td
                    y<sub>i</sub>
                  - options[:cases].each do |item|
                    %td
                      = item
                  %td Сума
                %tr
                  %td
                    x<sub>i</sub>y<sub>i</sub>
                  - x_n_y = []
                  - options[:groups].each_with_index do |item, index|
                    %td
                      - x_n_y << item * options[:cases][index]
                      = item * options[:cases][index]
                  %td
                    - x_n_y_sum = x_n_y.sum
                    = x_n_y_sum
              %br
              %br
              = raw "∑x<sub>i</sub>y<sub>i</sub> = #{ x_n_y_sum }"
              %br
              %br
              Коефіцієнт кореляції вирахуємо по формулі
              = raw "r = (∑x<sub>i</sub>y<sub>i</sub> - n<span style='text-decoration: overline'>x</span><span style='text-decoration: overline'>y</span>) / (nσ<sub>x</sub>σ<sub>y</sub>)"
              = raw " = (#{ x_n_y_sum } - #{options[:cases].count} * #{ x_mean } * #{ y_mean }) / (#{options[:cases].count} * #{sig_x} * #{sig_y})"
              = raw " ≈ #{ korel_main =(( x_n_y_sum  - options[:cases].count *  x_mean  *  y_mean ) / (options[:cases].count * sig_x * sig_y)).round(3) }"

              %br
              %br
              Рівняння регресії має вигляд:
              y - <span style='text-decoration: overline'>y</span> =
              r(σ<sub>y</sub>/σ<sub>x</sub>)(x-<span style='text-decoration: overline'>x</span>)
              %br
              = "y - #{y_mean} = #{ korel_main }(#{ sig_y } / #{ sig_x })(x - #{ x_mean })"
              %br
              = "y = (#{ korel_main }(#{ sig_y } / #{ sig_x }))x - (#{ korel_main }(#{ sig_y } / #{ sig_x }))#{ x_mean }) + (#{ y_mean })"
              %br
              = "y = #{ a = (korel_main * ( sig_y  /  sig_x )).round(3) }x - (#{ b = (korel_main * ( sig_y  /  sig_x ) * x_mean ).round(3) }) + #{ y_mean }"
              %br
              = "y = #{ a = (korel_main * ( sig_y  /  sig_x )).round(3) }x + #{ b = y_mean - b.round(2) }"

              %br
              %br
              %br

              - options[:prognoz] = []
              - options[:groups].each do |group|
                - options[:prognoz] << a*group.to_i + b

              - options1 = options



        .col-md-6
          - if @children.count > 0
            = render partial: 'layouts/selection_by_cohorts', locals: { selection: @selection }
            %br
            Спочатку знайдемо характеристики випадкових величин(група і кількість дітей)
            (вибіркове середнє і вибіркове середнє квадратичне відчилення).
            %br
            %br
            Вікові групи (X):
            = render partial: 'layouts/dispersion_calculation', locals: { selection: @selection, symbol: 'x' }
            %br
            Кількість вибраних дітей (Y):
            = render partial: 'layouts/dispersion_calculation', locals: { selection: @selection, symbol: 'y' }
            %br
            Залишилось підрахувати ∑x<sub>i</sub>y<sub>i</sub>. Результати занесемо в таблицю:
            %br
            %br
            = render partial: 'layouts/xy_total', locals: {selection: @selection }
            %br
            %br
            Коефіцієнт кореляції вирахуємо по формулі
            %br
            = render partial: 'layouts/correlation', locals: {selection: @selection }

            %br
            Рівняння регресії має вигляд:
            %br
            = render partial: 'layouts/regression', locals: {selection: @selection }
