.container
  .row
    .col-md-6
      = form_tag group_path do
        %table
          %tr
            %td
              %table
                %tr
                  %td{ style: 'padding: 2px; text-align: right'}
                    Розлади ШКТ:
                  %td{ style: 'padding: 2px'}
                    = select_tag 'rozlad_skt', options_for_select([['Живіт', 'zhyvit'], ['Стул', 'stul'], ['УЗД', 'uzd'], ['ФПК/ДЖВШ', 'fpk'], ['Дисбактеріоз', 'disbakterioz'], ['Всі', 'all']], params[:rozlad_skt] || 'all'), class: 'form-control'
              %br
              = submit_tag 'Порахувати', class: 'btn'
              %br
              %br
            %td{ style: 'vertical-align: top'}
              %table
                -#%tr
                -#  %td
                -#    Вивчити:
                -#  %td
                -#    = select_tag 'vyvchyty', options_for_select([['Розлади живота', 'zhyvit'], ['Розлади стулe', 'stul'], ['Розлади УЗД', 'uzd'], ['Розлади ФПК/ДЖВШ', 'fpk'], ['Дисбактеріоз', 'disbakterioz'], ['Всі розлади ШКТ', 'all']], params[:rozlad_skt] || 'all'), class: 'form-control'
                %tr
                  %td
                    Вікові категорії по:
                  %td
                    = select_tag 'cohort', options_for_select((1..12).map{|i|["#{ i } місяців", i]}, params[:cohort] || 12), class: 'form-control'

  .row
    .col-md-12
      %h4
        %a{ 'data-toggle' => "collapse", 'data-target' => "#main", 'aria-expanded' => "false", 'aria-controls' => "main", style: 'cursor: pointer'}
          Вибірка
      %div.collapse#main
        %table.table.table-striped
          %thead{ style: 'font-size: 9px'}
            %tr
              %th
              %th
              %th{ colspan: 5 }
                Розлади ШКТ
            %tr
              %th
                ПІБ
              %th
                Вік
              %th
                Живіт
              %th
                Стул
              %th
                УЗД
              %th
                ФПК/ДЖВШ
              %th
                Дисбактеріоз
          %tbody
          - @children.each do |child|
            %tr
              %td{ style: 'font-size: 9px'}
                = child.name.split(' ')[0]
              %td{ style: 'font-size: 9px'}
                = child.age
              %td
                - if child.zhyvit
                  &#10004;
              %td
                - if child.stul
                  &#10004;
              %td
                - if child.uzd
                  &#10004;
              %td
                - if child.fpk
                  &#10004;
              %td
                - if child.disbakterioz
                  &#10004;

  - if params[:cohort]
    .col-md-12
      %h4
        %a{ 'data-toggle' => "collapse", 'data-target' => "#calculation", 'aria-expanded' => "false", 'aria-controls' => "calculation", style: 'cursor: pointer'}
          Показати розрахунки
    .container
      .row.collapse#calculation.in
        .col-md-12
          - if @children.count > 0
            = render partial: 'layouts/selection_by_cohorts', locals: { selection: @selection }
            %br
            Спочатку знайдемо характеристики випадкових величин(група і кількість дітей)
            (вибіркове середнє і вибіркове середнє квадратичне відчилення).
            %br
            %br
            Вікові групи (X):
            = render partial: 'layouts/dispersion_calculation', locals: { selection: @selection, symbol: 'x' }
            %br
            Кількість вибраних дітей (Y):
            = render partial: 'layouts/dispersion_calculation', locals: { selection: @selection, symbol: 'y' }
            %br
            Залишилось підрахувати ∑x<sub>i</sub>y<sub>i</sub>. Результати занесемо в таблицю:
            %br
            %br
            = render partial: 'layouts/xy_total', locals: {selection: @selection }
            %br
            %br
            Коефіцієнт кореляції вирахуємо по формулі
            %br
            = render partial: 'layouts/correlation', locals: {selection: @selection }

            %br
            Рівняння регресії має вигляд:
            %br
            = render partial: 'layouts/regression', locals: {selection: @selection }

            #regression-chart
            :javascript
                draw_chart('#regression-chart', JSON.parse('#{ @selection.regression_chart.to_json }'));

            %br
            Гістограма
            #gistogramm-chart
            :javascript
                draw_gistogramm('#gistogramm-chart', JSON.parse('#{ @selection.regression_chart.to_json }'));
            #3dgistogramm-chart
            :javascript
                draw3d_gistogramm('#3dgistogramm-chart', JSON.parse('#{ @selection.regression_chart.to_json }'));