.container
  .row
    .col-md-12
      %h2 Основна група
      %table.table.table-striped
        %thead{ style: 'font-size: 9px'}
          %tr
            %th
            %th
            %th
            %th{ colspan: 5 }
              Розлади ШКТ
            %th
            %th{ colspan: 5 }
              Обтяжена спадковість
            %th{ colspan: 3 }
              Фактор ризику
          %tr
            %th
              ПІБ
            %th
              Вік
            %th
              Стать
            %th
              Живіт
            %th
              Стул
            %th
              УЗД
            %th
              ФПК/ДЖВШ
            %th
              Дисбактеріоз
            %th
              Ступінь
            %th
              ОС
            %th
              1 лінія
            %th
              2 лінія
            %th
              обидва батьки
            %th
              обидві лінії
            %th
              АР
            %th
              БА
            %th
              Респіраторному алергозу
        %tbody
        - @main_children.each do |child|
          %tr
            %td{ style: 'font-size: 9px'}
              = child.name.split(' ')[0]
            %td{ style: 'font-size: 9px'}
              = child.age
            %td{ style: 'font-size: 9px'}
              = child.sex == 'male' ? 'xлопчик' : 'дівчинка'
            %td
              - if child.zhyvit
                &#10004;
            %td
              - if child.stul
                &#10004;
            %td
              - if child.uzd
                &#10004;
            %td
              - if child.fpk
                &#10004;
            %td
              - if child.disbakterioz
                &#10004;
            %td{ style: 'font-size: 9px'}
              - if child.skt_level > 0
                = child.skt_level
            %td
              - if child.spadkovist
                &#10004;
            %td
              - if child.spadk_line1
                &#10004;
            %td
              - if child.spadk_line2
                &#10004;
            %td
              - if child.both_parents
                &#10004;
            %td
              - if child.both_lines
                &#10004;
            %td
              - if child.risk_factor_AR
                &#10004;
            %td
              - if child.risk_factor_BA
                &#10004;
            %td
              - if child.risk_factor_Rasp
                &#10004;
    .col-md-12
      %h2 Контрольна група
      %table.table.table-striped
        %thead{ style: 'font-size: 9px'}
          %tr
            %th
            %th
            %th
            %th
          %tr
            %th
              ПІБ
            %th
              Вік
            %th
              Стать
            %th
              ОС
        %tbody
        - @control_children.each do |child|
          %tr
            %td{ style: 'font-size: 9px'}
              = child.name.split(' ')[0]
            %td{ style: 'font-size: 9px'}
              = child.age
            %td{ style: 'font-size: 9px'}
              = child.sex == 'male' ? 'xлопчик' : 'дівчинка'
            %td
              - if child.spadkovist
                &#10004;

.container
  .row
    .col-md-12
      content