.container
  .row
    .col-md-6
      = form_tag home_path do
        %table
          %tr
            %td
              %table
                %tr
                  %td{ style: 'padding: 2px; text-align: right'}
                    Стать:
                  %td{ style: 'padding: 2px'}
                    = select_tag 'sex', options_for_select([['Хлопчики', 'male'], ['Дівчатка', 'female'], ['Всі', 'all']], params[:sex] || 'all'), class: 'form-control'
                %tr
                  %td{ style: 'padding: 2px; text-align: right'}
                    Розлади ШКТ:
                  %td{ style: 'padding: 2px'}
                    = select_tag 'rozlad_skt', options_for_select([['Живіт', 'zhyvit'], ['Стул', 'stul'], ['УЗД', 'uzd'], ['ФПК/ДЖВШ', 'fpk'], ['Дисбактеріоз', 'disbakterioz'], ['Всі', 'all']], params[:rozlad_skt] || 'all'), class: 'form-control'
                %tr
                  %td{ style: 'padding: 2px; text-align: right'}
                    Ступінь:
                  %td{ style: 'padding: 2px'}
                    = select_tag 'skt_level', options_for_select([['1', 1], ['2', 2], ['3', 3], ['Всі', 'all']], params[:skt_level] || 'all'), class: 'form-control'
              %br
              = submit_tag 'Порахувати', class: 'btn'
            %td{ style: 'vertical-align: top'}
              %table
                -#%tr
                -#  %td
                -#    Вивчити:
                -#  %td
                -#    = select_tag 'vyvchyty', options_for_select([['Розлади живота', 'zhyvit'], ['Розлади стулe', 'stul'], ['Розлади УЗД', 'uzd'], ['Розлади ФПК/ДЖВШ', 'fpk'], ['Дисбактеріоз', 'disbakterioz'], ['Всі розлади ШКТ', 'all']], params[:rozlad_skt] || 'all'), class: 'form-control'
                %tr
                  %td
                    Вікові категорії по:
                  %td
                    = select_tag 'cohort', options_for_select((1..12).map{|i|["#{ i } місяців", i]}, params[:cohort] || 12), class: 'form-control'
                %tr
                  %td{ style: 'padding: 2px; text-align: right'}
                    Обтяжена спадковість:
                  %td{ style: 'padding: 2px'}
                    = select_tag 'spadk', options_for_select([['З обтяженою спадковістю', 'spadkovist'], ['1 лінія', 'spadk_line1'], ['2 лінія', 'spadk_line2'], ['обидва батьки', 'both_parents'], ['обидві лінії', 'both_lines'], ['Всі', 'all']], params[:spadk] || 'all'), class: 'form-control'
                %tr
                  %td{ style: 'padding: 2px; text-align: right'}
                    Фактор ризику:
                  %td{ style: 'padding: 2px'}
                    = select_tag 'risk', options_for_select([['АР', 'risk_factor_AR'], ['БА', 'risk_factor_BA'], ['Респіраторному алергозу', 'risk_factor_Rasp'], ['Всі', 'all']], params[:risk] || 'all'), class: 'form-control'


  .row
    .col-md-12
      %h4
        %a{ 'data-toggle' => "collapse", 'data-target' => "#main", 'aria-expanded' => "false", 'aria-controls' => "main", style: 'cursor: pointer'}
          Показати вибірку для основної групи
      %div.collapse#main
        %table.table.table-striped
          %thead{ style: 'font-size: 9px'}
            %tr
              %th
              %th
              %th
              %th{ colspan: 5 }
                Розлади ШКТ
              %th
              %th{ colspan: 5 }
                Обтяжена спадковість
              %th{ colspan: 3 }
                Фактор ризику
            %tr
              %th
                ПІБ
              %th
                Вік
              %th
                Стать
              %th
                Живіт
              %th
                Стул
              %th
                УЗД
              %th
                ФПК/ДЖВШ
              %th
                Дисбактеріоз
              %th
                Ступінь
              %th
                ОС
              %th
                1 лінія
              %th
                2 лінія
              %th
                обидва батьки
              %th
                обидві лінії
              %th
                АР
              %th
                БА
              %th
                Респіраторному алергозу
          %tbody
          - @main_children.each do |child|
            %tr
              %td{ style: 'font-size: 9px'}
                = child.name.split(' ')[0]
              %td{ style: 'font-size: 9px'}
                = child.age
              %td{ style: 'font-size: 9px'}
                = child.sex == 'male' ? 'xлопчик' : 'дівчинка'
              %td
                - if child.zhyvit
                  &#10004;
              %td
                - if child.stul
                  &#10004;
              %td
                - if child.uzd
                  &#10004;
              %td
                - if child.fpk
                  &#10004;
              %td
                - if child.disbakterioz
                  &#10004;
              %td{ style: 'font-size: 9px'}
                - if child.skt_level > 0
                  = child.skt_level
              %td
                - if child.spadkovist
                  &#10004;
              %td
                - if child.spadk_line1
                  &#10004;
              %td
                - if child.spadk_line2
                  &#10004;
              %td
                - if child.both_parents
                  &#10004;
              %td
                - if child.both_lines
                  &#10004;
              %td
                - if child.risk_factor_AR
                  &#10004;
              %td
                - if child.risk_factor_BA
                  &#10004;
              %td
                - if child.risk_factor_Rasp
                  &#10004;
    .col-md-12
      %h4
        %a{ 'data-toggle' => "collapse", 'data-target' => "#control", 'aria-expanded' => "false", 'aria-controls' => "control", style: 'cursor: pointer'}
          Показати вибірку для контрольної групи
      %div.collapse#control
        %table.table.table-striped
          %thead{ style: 'font-size: 9px'}
            %tr
              %th
              %th
              %th
              %th
            %tr
              %th
                ПІБ
              %th
                Вік
              %th
                Стать
              %th
                ОС
          %tbody
          - @control_children.each do |child|
            %tr
              %td{ style: 'font-size: 9px'}
                = child.name.split(' ')[0]
              %td{ style: 'font-size: 9px'}
                = child.age
              %td{ style: 'font-size: 9px'}
                = child.sex == 'male' ? 'xлопчик' : 'дівчинка'
              %td
                - if child.spadkovist
                  &#10004;
    - if params[:cohort]
      .col-md-12
        %h4
          %a{ 'data-toggle' => "collapse", 'data-target' => "#calculation", 'aria-expanded' => "false", 'aria-controls' => "calculation", style: 'cursor: pointer'}
            Показати розрахунки
      .container
        .row.collapse#calculation

          .col-md-6{ style: "font-size: 12px"}
            %h2
              %b Основна група
              %hr
            %br
            - if @main_children.count > 0
              %table.au
                %tr
                  %td
                    Група
                  %td
                    Вікові категорії
                  %td
                    Кількість випадків патологій ШКТ
                - i = 0
                - j = 0
                - options = {cohorts: [], cases: [], groups: []}
                - while i < @main_children.map(&:age).max
                  %tr
                    %td
                      - options[:groups] << j + 1
                      = j += 1
                    %td
                      - cohort = "#{ i + 1 } - #{ i + params[:cohort].to_i }"
                      = cohort
                      - options[:cohorts] << cohort
                    %td
                      - count =  @main_children.select{|child| child.age >= (i + 1) && child.age <= i+params[:cohort].to_i }.count
                      = count
                      - options[:cases] << count
                  - i += params[:cohort].to_i
              %br
                Спочатку знайдемо характеристики випадкових величин(група і кількість дітей)
                (вибіркове середнє і вибіркове середнє квадратичне відчилення).
                %br
                %br
                Групи:
                %table.au
                  %tr
                    %td
                    - options[:groups].each do |group|
                      %td
                    %td
                      = "∑x"
                      %sub i
                    %td
                      = raw "<span style='text-decoration: overline'>x</span>"
                  %tr
                    %td
                      x
                      %sub
                        i
                    - options[:groups].each do |group|
                      %td
                        = group
                    %td
                      - x_sum = options[:groups].sum
                      = x_sum
                    %td
                      - x_mean = (x_sum.to_f / options[:groups].count.to_f).round(2)
                      = x_mean
                  %tr
                    %td
                      = raw("(x<sub>i</sub>-<span style='text-decoration: overline'>x</span>)<sup>2</sup>")
                    - x_squares = []
                    - options[:groups].each do |group|
                      %td
                        - x_squares << (group - x_mean)**2
                        = (group - x_mean)**2
                    %td
                      = x_squares.sum
                    %td
                      - disp = (x_squares.sum / x_squares.count).round(2)
                      = disp

                %br
                Вибіркове середнє: <span style='text-decoration: overline'>x</span> =
                = raw "∑x<sub>i</sub> / #{options[:groups].count} = #{ x_sum }/#{ options[:groups].count } = #{ x_mean }"
                %br
                %br
                Вибіркова дисперсія: <span style='text-decoration: overline'>D</span><sub>x</sub> =
                = raw "∑(x<sub>i</sub>-<span style='text-decoration: overline'>x</span>)<sup>2</sup> / n = "
                = "#{ x_squares.sum } / #{ options[:groups].count } = #{ disp }"
                %br
                %br
                Вибіркове квадратне відхилення:
                - sig_x = Math.sqrt(disp).round(2)
                = raw "σ<sub>x</sub> = √<span style='text-decoration: overline'>D</span><sub>x</sub> ≈ #{ sig_x }"
                %br
                %br
                Кількість дітей:
                %table.au
                  %tr
                    %td
                    - options[:cases].each do |item|
                      %td
                    %td
                      = "∑y"
                      %sub i
                    %td
                      = raw "<span style='text-decoration: overline'>y</span>"
                  %tr
                    %td
                      y
                      %sub
                        i
                    - options[:cases].each do |item|
                      %td
                        = item
                    %td
                      - y_sum = options[:cases].sum
                      = y_sum
                    %td
                      - y_mean = (y_sum.to_f / options[:cases].count.to_f).round(3)
                      = y_mean
                  %tr
                    %td
                      = raw("(y<sub>i</sub>-<span style='text-decoration: overline'>y</span>)<sup>2</sup>")
                    - y_squares = []
                    - options[:cases].each do |group|
                      %td
                        - val = ((group - y_mean)**2).round(2)
                        - y_squares << val
                        = val
                    %td
                      = y_squares.sum.round(2)
                    %td
                      = (y_squares.sum / y_squares.count).round(2)

                %br
                Вибіркове середнє: <span style='text-decoration: overline'>y</span> =
                = raw "∑y<sub>i</sub> / #{options[:cases].count} = #{ y_sum }/#{ options[:cases].count } = #{ y_mean }"
                %br
                %br
                Вибіркова дисперсія: <span style='text-decoration: overline'>D</span><sub>y</sub> =
                = raw "∑(y<sub>i</sub>-<span style='text-decoration: overline'>y</span>)<sup>2</sup> / n = "
                - disp_y = y_squares.sum / options[:cases].count
                = "#{ y_squares.sum } / #{ options[:groups].count } = #{ disp }"
                %br
                %br
                Вибіркове квадратне відхилення:
                - sig_y = Math.sqrt(disp_y).round(2)
                = raw "σ<sub>y</sub> = √<span style='text-decoration: overline'>D</span><sub>y</sub> ≈ #{ sig_y }"
                %br
                %br
                Залишилось підрахувати ∑x<sub>i</sub>y<sub>i</sub>. Результати занесемо в таблицю:
                %br
                %br
                %table.au
                  %tr
                    %td
                      x<sub>i</sub>
                    - options[:groups].each do |item|
                      %td
                        = item
                    %td
                  %tr
                    %td
                      y<sub>i</sub>
                    - options[:cases].each do |item|
                      %td
                        = item
                    %td Сума
                  %tr
                    %td
                      x<sub>i</sub>y<sub>i</sub>
                    - x_n_y = []
                    - options[:groups].each_with_index do |item, index|
                      %td
                        - x_n_y << item * options[:cases][index]
                        = item * options[:cases][index]
                    %td
                      - x_n_y_sum = x_n_y.sum
                      = x_n_y_sum
                %br
                %br
                = raw "∑x<sub>i</sub>y<sub>i</sub> = #{ x_n_y_sum }"
                %br
                %br
                Коефіцієнт кореляції вирахуємо по формулі
                = raw "r = (∑x<sub>i</sub>y<sub>i</sub> - n<span style='text-decoration: overline'>x</span><span style='text-decoration: overline'>y</span>) / (nσ<sub>x</sub>σ<sub>y</sub>)"
                = raw " = (#{ x_n_y_sum } - #{options[:cases].count} * #{ x_mean } * #{ y_mean }) / (#{options[:cases].count} * #{sig_x} * #{sig_y})"
                = raw " ≈ #{ korel_main =(( x_n_y_sum  - options[:cases].count *  x_mean  *  y_mean ) / (options[:cases].count * sig_x * sig_y)).round(3) }"

                %br
                %br
                Рівняння регресії має вигляд:
                y - <span style='text-decoration: overline'>y</span> =
                r(σ<sub>y</sub>/σ<sub>x</sub>)(x-<span style='text-decoration: overline'>x</span>)
                %br
                = "y - #{y_mean} = #{ korel_main }(#{ sig_y } / #{ sig_x })(x - #{ x_mean })"
                %br
                = "y = (#{ korel_main }(#{ sig_y } / #{ sig_x }))x - (#{ korel_main }(#{ sig_y } / #{ sig_x }))#{ x_mean }) + (#{ y_mean })"
                %br
                = "y = #{ a = (korel_main * ( sig_y  /  sig_x )).round(3) }x - (#{ b = (korel_main * ( sig_y  /  sig_x ) * x_mean ).round(3) }) + #{ y_mean }"
                %br
                = "y = #{ a = (korel_main * ( sig_y  /  sig_x )).round(3) }x + #{ b = y_mean - b.round(2) }"

                %br
                %br
                %br

                - options[:prognoz] = []
                - options[:groups].each do |group|
                  - options[:prognoz] << a*group.to_i + b

                - options1 = options

          .col-md-6{ style: "font-size: 12px"}
            %h2
              %b Контрольна група
              %hr
            %br
            - if @control_children.count > 0
              %table.au
                %tr
                  %td
                    Група
                  %td
                    Вікові категорії
                  %td
                    Кількість дітей без патології ШКТ
                - i = 0
                - j = 0
                - options = {cohorts: [], cases: [], groups: []}
                - while i < @control_children.map(&:age).max
                  %tr
                    %td
                      - options[:groups] << j + 1
                      = j += 1
                    %td
                      - cohort = "#{ i + 1 } - #{ i + params[:cohort].to_i }"
                      = cohort
                      - options[:cohorts] << cohort
                    %td
                      - count = @control_children.select{|child| child.age >= (i + 1) && child.age <= i+params[:cohort].to_i }.count
                      = count
                      - options[:cases] << count
                  - i += params[:cohort].to_i
              -# control calc-----------------------------------------------------------------------------------------------
              %br
              Спочатку знайдемо характеристики випадкових величин(група і кількість дітей)
              (вибіркове середнє і вибіркове середнє квадратичне відчилення).
              %br
              %br
              Групи:
              %table.au
                %tr
                  %td
                  - options[:groups].each do |group|
                    %td
                  %td
                    = "∑x"
                    %sub i
                  %td
                    = raw "<span style='text-decoration: overline'>x</span>"
                %tr
                  %td
                    x
                    %sub
                      i
                  - options[:groups].each do |group|
                    %td
                      = group
                  %td
                    - x_sum = options[:groups].sum
                    = x_sum
                  %td
                    - x_mean = (x_sum.to_f / options[:groups].count.to_f).round(2)
                    = x_mean
                %tr
                  %td
                    = raw("(x<sub>i</sub>-<span style='text-decoration: overline'>x</span>)<sup>2</sup>")
                  - x_squares = []
                  - options[:groups].each do |group|
                    %td
                      - x_squares << (group - x_mean)**2
                      = (group - x_mean)**2
                  %td
                    = x_squares.sum
                  %td
                    - disp = (x_squares.sum / x_squares.count).round(2)
                    = disp

              %br
              Вибіркове середнє: <span style='text-decoration: overline'>x</span> =
              = raw "∑x<sub>i</sub> / #{options[:groups].count} = #{ x_sum }/#{ options[:groups].count } = #{ x_mean }"
              %br
              %br
              Вибіркова дисперсія: <span style='text-decoration: overline'>D</span><sub>x</sub> =
              = raw "∑(x<sub>i</sub>-<span style='text-decoration: overline'>x</span>)<sup>2</sup> / n = "
              = "#{ x_squares.sum } / #{ options[:groups].count } = #{ disp }"
              %br
              %br
              Вибіркове квадратне відхилення:
              - sig_x = Math.sqrt(disp).round(2)
              = raw "σ<sub>x</sub> = √<span style='text-decoration: overline'>D</span><sub>x</sub> ≈ #{ sig_x }"
              %br
              %br
              Кількість дітей:
              %table.au
                %tr
                  %td
                  - options[:cases].each do |item|
                    %td
                  %td
                    = "∑y"
                    %sub i
                  %td
                    = raw "<span style='text-decoration: overline'>y</span>"
                %tr
                  %td
                    y
                    %sub
                      i
                  - options[:cases].each do |item|
                    %td
                      = item
                  %td
                    - y_sum = options[:cases].sum
                    = y_sum
                  %td
                    - y_mean = (y_sum.to_f / options[:cases].count.to_f).round(3)
                    = y_mean
                %tr
                  %td
                    = raw("(y<sub>i</sub>-<span style='text-decoration: overline'>y</span>)<sup>2</sup>")
                  - y_squares = []
                  - options[:cases].each do |group|
                    %td
                      - val = ((group - y_mean)**2).round(2)
                      - y_squares << val
                      = val
                  %td
                    = y_squares.sum.round(2)
                  %td
                    = (y_squares.sum / y_squares.count).round(2)

              %br
              Вибіркове середнє: <span style='text-decoration: overline'>y</span> =
              = raw "∑y<sub>i</sub> / #{options[:cases].count} = #{ y_sum }/#{ options[:cases].count } = #{ y_mean }"
              %br
              %br
              Вибіркова дисперсія: <span style='text-decoration: overline'>D</span><sub>y</sub> =
              = raw "∑(y<sub>i</sub>-<span style='text-decoration: overline'>y</span>)<sup>2</sup> / n = "
              - disp_y = y_squares.sum / options[:cases].count
              = "#{ y_squares.sum } / #{ options[:groups].count } = #{ disp }"
              %br
              %br
              Вибіркове квадратне відхилення:
              - sig_y = Math.sqrt(disp_y).round(2)
              = raw "σ<sub>y</sub> = √<span style='text-decoration: overline'>D</span><sub>y</sub> ≈ #{ sig_y }"
              %br
              %br
              Залишилось підрахувати ∑x<sub>i</sub>y<sub>i</sub>. Результати занесемо в таблицю:
              %br
              %br
              %table.au
                %tr
                  %td
                    x<sub>i</sub>
                  - options[:groups].each do |item|
                    %td
                      = item
                  %td
                %tr
                  %td
                    y<sub>i</sub>
                  - options[:cases].each do |item|
                    %td
                      = item
                  %td Сума
                %tr
                  %td
                    x<sub>i</sub>y<sub>i</sub>
                  - x_n_y = []
                  - options[:groups].each_with_index do |item, index|
                    %td
                      - x_n_y << item * options[:cases][index]
                      = item * options[:cases][index]
                  %td
                    - x_n_y_sum = x_n_y.sum
                    = x_n_y_sum
              %br
              %br
              = raw "∑x<sub>i</sub>y<sub>i</sub> = #{ x_n_y_sum }"
              %br
              %br
              Коефіцієнт кореляції вирахуємо по формулі
              = raw "r = (∑x<sub>i</sub>y<sub>i</sub> - n<span style='text-decoration: overline'>x</span><span style='text-decoration: overline'>y</span>) / (nσ<sub>x</sub>σ<sub>y</sub>)"
              = raw " = (#{ x_n_y_sum } - #{options[:cases].count} * #{ x_mean } * #{ y_mean }) / (#{options[:cases].count} * #{sig_x} * #{sig_y})"
              = raw " ≈ #{ korel_main2 =(( x_n_y_sum  - options[:cases].count *  x_mean  *  y_mean ) / (options[:cases].count * sig_x * sig_y)).round(3) }"

              %br
              %br
              Рівняння регресії має вигляд:
              y - <span style='text-decoration: overline'>y</span> =
              r(σ<sub>y</sub>/σ<sub>x</sub>)(x-<span style='text-decoration: overline'>x</span>)
              %br
              = "y - #{y_mean} = #{ korel_main2 }(#{ sig_y } / #{ sig_x })(x - #{ x_mean })"
              %br
              = "y = (#{ korel_main2 }(#{ sig_y } / #{ sig_x }))x - (#{ korel_main2 }(#{ sig_y } / #{ sig_x }))#{ x_mean }) + (#{ y_mean })"
              %br
              = "y = #{ a = (korel_main2 * ( sig_y  /  sig_x )).round(3) }x - (#{ b = (korel_main2 * ( sig_y  /  sig_x ) * x_mean ).round(3) }) + #{ y_mean }"
              %br
              = "y = #{ a = (korel_main2 * ( sig_y  /  sig_x )).round(3) }x + #{ b = y_mean - b.round(2) }"

              %br
              %br
              %br

              - options[:prognoz] = []
              - options[:groups].each do |group|
                - options[:prognoz] << a*group.to_i + b

              - options2 = options

              %br
              -# end control calc------------------------------------------------------------------------------------------


      .col-md-6
        - if @main_children.count > 0
          #main-container
          :javascript
            draw_chart('#main-container', JSON.parse('#{ options1.to_json }'));
          %br
          %b
            Висновок:
            Для
            = 'дітей' if params[:sex] == 'all'
            = 'хлопчиків' if params[:sex] == 'male'
            = 'дівчаток' if params[:sex] == 'female'
            - if params[:rozlad_skt] != 'all'
              = { 'zhyvit' => 'з розладом живота', 'stul' => 'з розладом стулу', 'uzd' => 'з УЗД', 'fpk' => 'з ФПК/ДЖВШ', 'disbakterioz' => 'з дисбактеріозом'}[params[:rozlad_skt]]
            - else
              з розладом ШКТ
            - if params[:skt_level] != 'all'
              = "з #{ params[:skt_level] } ступенем"
            - if params[:spadk] != 'all'
              з обтяженою спадковістю
              - if params[:spadk] != 'spadkovist'
                (
                = { 'spadk_line1' => '1 лінія', 'spadk_line2' => '2 лінія', 'both_parents' => 'обидва батьки', 'both_lines' => 'обидві лінії'}[params[:spadk]]
                )
            - if params[:risk] != 'all'
              з фактором ризику
              = { 'risk_factor_AR' => 'АР', 'risk_factor_BA' => 'БА', 'risk_factor_Rasp' => 'Респіраторному алергозу'}[params[:risk]]
            залежність кількості випадків патологій ШКТ наступна:


            %br
            %br
            - if (korel_main).abs < 0.1
              Коефіцієнт кореляції близький до нуля - значить кількість патологій у дітей майже не залежить від віку
            - else
              Коефіцієнт кореляції відмінний від нуля - значить кількість патологій у дітей суттєво залежить від віку
            %br
            - if korel_main > 0
              Кореляція - додатнє число значить залежність прямопропорційна. Тобто з віком кількість патологій ШКТ зростає.
            - else
              Кореляція - від'ємне число значить залежність оберненопропорційна. Тобто з віком кількість патологій ШКТ зменшується.
            %br

      .col-md-6
        - if @control_children.count > 0
          #control-container
            :javascript
                draw_chart('#control-container', JSON.parse('#{ options2.to_json }'));
            %b